#app{
  display: flex;
  align-items: center;
  justify-content: center;
}


#app h1{ 
  font-weight: 700;
  font-size: 4em;
  z-index: 3;  
}

#myThreeJsCanvas{
  position: absolute;
  top: 20%;
  left: 36%;
  z-index: -1;
}